---
import { Image, getImage } from "astro:assets";
import heroImg from "../assets/previews/hero.png";
import heroMobileImg from "../assets/previews/hero-mobile.png";
import View from "./ui/View.astro";
import Button from "./ui/Button.astro";

const optimizedDesktop = await getImage({ src: heroImg, format: "webp" });
const optimizedMobile = await getImage({ src: heroMobileImg, format: "webp" });
---

<div
  class="w-full flex flex-col px-6 md:pb-12"
  style="height: calc(100vh - 80px);"
>
  <div
    class="flex-1 min-h-0 w-full flex items-center justify-center md:my-3 lg:my-6 md:mt-0"
  >
    <View
      class="p-1 md:p-3 rounded-lg flex justify-center items-center overflow-hidden h-full"
    >
      <picture class="flex justify-center items-center h-full w-full">
        <source media="(max-width: 639px)" srcset={optimizedMobile.src} />
        <source media="(min-width: 640px)" srcset={optimizedDesktop.src} />
        <img
          src={optimizedDesktop.src}
          alt="App Preview"
          class="object-contain w-full h-full"
        />
      </picture>
    </View>
  </div>

  <div
    class="flex flex-col md:flex-row md:items-end justify-between gap-6 z-10 shrink-0 w-full"
  >
    <div class="max-w-2xl text-left">
      <p class="leading-relaxed my-3">
        A <b>music player</b> capable of playing high-quality music, having beautiful
        interface, support on various devices, while keeping performance <i
          >decently</i
        > optimized.
      </p>

      <p class="text-sm leading-relaxed text-white/80">
        It's not perfect but it's pretty good, you know? :)
      </p>
    </div>

    <Button
      class="rounded-full px-3 py-2 md:px-4 md:py-3 font-semibold text-center md:text-lg md:shrink-0"
      >Get Started</Button
    >
  </div>
</div>
